<!-- Copyright (c) 2016-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>) -->
<!-- See LICENSE file for full copyright and licensing details. -->
<!-- License URL : <https://store.webkul.com/license.html/> -->

<section class="oe_container oe_dark lead">
    <div class="row oe_spaced" style="margin-bottom: -20px !important;">
        <h2 class="oe_slogan col-12" style="color:#875A7B;">Odoo Backend Debranding</h2>
        <h3 class="oe_slogan col-11 text-center" style="margin-left:4%;">This module is the base debranding module that allows you to change the look and feel of Odoo. You can configure things like company logo, favicon, page title, etc. to give it a new look and feel.</h3>
    </div>
</section>

<section class="oe_container oe_dark">
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="odoo_pos_warehouse_management">
            <section class="oe_container">
                <div class="row">
                    <div class="col-12">
                        <div class="panel">
                            <div class="panel-heading " style="font-size:25px;">
                                    <h3 class="panel-title"><i class="fa fa-pencil-square-o "/><b>Work Flow</b></h3>
                            </div>
                            <div class="panel-body ">
                                <section class="oe_container">
                                    <div class="row" style="width:100%">
                                        <div class="col-12" style="width:100%;">
                                            <div class="alert alert-info">
                                                <i class="fa fa-arrow-circle-o-right"></i>
                                                <b>Configuration</b>
                                            </div>
                                        </div>
                                        <div class="col-12" style="width:100%;">
                                            <p class="fa fa-2x" style="font-size: 25px;margin-left: 5px;position: relative;bottom: 2px;" >
                                                <b>Configure the Backend Debrand Settings under the menu Settings -&gt; General Settings -&gt; Odoo Debranding.</b>
                                            </p>
                                            <ul>
                                                <li>
                                                    <span>
                                                        <i class="fa fa-2x"/> <span style="font-size: 16px;margin-left: 5px;position: relative;bottom: 2px;">Add your favicon Image, that will replaces all the favicon images from Existing odoo.</span>
                                                    </span>
                                                </li>
                                                <li>
                                                    <span>
                                                        <i class="fa fa-2x"/> <span style="font-size: 16px;margin-left: 5px;position: relative;bottom: 2px;">Enter Title Brand Name that will reflect as new Title.</span>
                                                    </span>
                                                </li>
                                                <li>
                                                    <span>
                                                        <i class="fa fa-2x"/> <span style="font-size: 16px;margin-left: 5px;position: relative;bottom: 2px;">Enter Text that replaces Odoo.</span>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12" style="width:90%; margin-top:2%;">
                                            <a href="screen1.jpg">
                                                <img src="screen1.jpg" alt="screen 1" style="border: 2px solid #d6d6d6;margin-left: 2%;width: 96%;margin-bottom: 4%;">
                                            </a>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="oe_container oe_dark">
                <div class="wk8">
                    <div class='wk9'>
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-pencil-square-o "/><b>Odoo Backend Debranding</b></h3>
                            </div>
                            <div class="panel-body">
                                <section class="oe_container">
                                    <div class="row" style="width:100%">
                                        <div class="col-12" style="width:100%;">
                                            <div class="alert alert-info">
                                                <i class="fa fa-arrow-circle-o-right"></i>
                                                <b>Salient Features</b>
                                            </div>
                                        </div>
                                        <div class="col-12" style="width:100%;">
                                            <span>
                                                <i class="fa fa-2x fa-hand-o-right"/> <b style="font-size: 16px;margin-left: 5px;position: relative;bottom: 2px;">Configurable Backend Favicon and Title Brand</b>
                                            </span>
                                            <p style="margin-left: 35px;">User can replace Odoo's default favicon and title from the backend with new ones of his choice.
                                            </p><br/>

                                            <span>
                                                <i class="fa fa-2x fa-hand-o-right"/> <b style="font-size: 16px;margin-left: 5px;position: relative;bottom: 2px;">Replace Odoo's logo From Backend</b>
                                            </span>
                                            <p style="margin-left: 35px;">Replaces Odoo's logo from backend to your company's logo.
                                            </p><br/>
                                            
                                            

                                            <span>
                                                <i class="fa fa-2x fa-hand-o-right"/> <b style="font-size: 16px;margin-left: 5px;position: relative;bottom: 2px;">User Dropdown Menu Updated</b>
                                            </span>
                                            <p style="margin-left: 35px;">Removes "My Odoo.com Account" option from the user dropdown at the backend.</p><br/>

                                            <span>
                                                <i class="fa fa-2x fa-hand-o-right"/> <b style="font-size: 16px;margin-left: 5px;position: relative;bottom: 2px;">Login Page Updated</b>
                                            </span>
                                            <p style="margin-left: 35px;">Removes 'Odoo' from Backend Web login layout.</p><br/>

                                            <span>
                                                <i class="fa fa-2x fa-hand-o-right"/> <b style="font-size: 16px;margin-left: 5px;position: relative;bottom: 2px;">Renames "OdooBot"</b>
                                            </span>
                                            <p style="margin-left: 35px;">Renames "OdooBot" to "System"</p><br/>

                                            <span>
                                                <i class="fa fa-2x fa-hand-o-right"/> <b style="font-size: 16px;margin-left: 5px;position: relative;bottom: 2px;">Backend Settings Page Updated</b>
                                            </span>
                                            <p style="margin-left: 35px;">Removes 'Odoo' form Settings i.e Apps store icon, Social share, Implementation.</p><br/>
                                            
                                            

                                            <span>
                                                <i class="fa fa-2x fa-hand-o-right"/> <b style="font-size: 16px;margin-left: 5px;position: relative;bottom: 2px;">Backend Dialog Box View Updated</b>
                                            </span>
                                            <p style="margin-left: 35px;">Replaces 'Odoo' from Dialog Box.</p><br/>
                                            
                                            <span>
                                                <i class="fa fa-2x fa-hand-o-right"/> <b style="font-size: 16px;margin-left: 5px;position: relative;bottom: 2px;">Odoo Planners Updated</b>
                                            </span>
                                            <p style="margin-left: 35px;">Removes 'Odoo' from helps and planners.</p><br/>
                                            
                                            <span>
                                                <i class="fa fa-2x fa-hand-o-right"/> <b style="font-size: 16px;margin-left: 5px;position: relative;bottom: 2px;">Backend Odoo Notification Updated</b>
                                            </span>
                                            <p style="margin-left: 35px;">Replaces 'Odoo' from odoo notifications.</p><br/>
                                        </div>
                                    </div>
                                </section>
                             </div>
                        </div>
                   </div>
                </div>
            </section>
        </div>
    </div>
</section>

<!-- <section class="oe_container">
    <div class="">
        <h3 class="oe_slogan" style="color:#875A7B;">
            You may also like these modules.
        </h3>
        <div class="oe_dark">
            <div class="col-md-12" style="font-size:30px;
                    font-weight:bold;
                    color:#ff0000;
                    text-align:center;">
                <div class="col-md-4">
                    <a href="https://www.odoo.com/apps/modules/11.0/wk_debrand_pos/" target="new">
                    <img alt="Odoo Point Of Sale Debranding" class="oe_picture oe_screenshot img-rounded" src="https://www.odoo.com/apps/modules/11.0/wk_debrand_pos//Banner.png"/>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://www.odoo.com/apps/modules/11.0/wk_debrand_website/" target="new">
                    <img alt="Odoo Website Debranding" class="oe_picture oe_screenshot img-rounded" src="https://www.odoo.com/apps/modules/11.0/wk_debrand_website//Banner.png"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="oe_container oe_dark">
    <div class='row'>
        <div class="col-12">
            <h2 class='oe_slogan'>Complimentary Support</h2>
            <p style="font-weight:700; font-size: 17px; margin-left:4%; margin-right:4%;" class="text-center">
            You will get 90 days of free support with the purchase of this module, it includes queries, bug fixing, and any other issues related to the module, excluding data recovery.
            </p>
        </div>
    </div>
    <div class="row oe_spaced">
        <div class="col-12">
            <h2 class="text-center"> Get Technical Help & Support</h2>
        </div>
        <br/>
        <div class="oe_slogan oe_spaced col-12">
           <img src="icon-help.png" alt="odoo-backend-debrand">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Help</a></span>
           <img src="icon-support.png" alt="odoo-backend-debrand">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Support</a></span>
           <img src="icon-features.png" alt="odoo-backend-debrand">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Request new Features</a></span>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="col-12">
        <!-- Piwik Image Tracker-->
            <img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=ODOO-BACKEND-DEBRANDING&url=https://apps.openerp.com/apps/modules/12.0/contigo_debrand&uid=contigo_debrand" style="border:0" alt="" />
        <!-- End Piwik -->
    </div>
</section>