.table_general{
    font-family: Arial Helvetica, sans-serif;
    color: #404040;
    /*border-radius: 5px;*/
    border: 1px solid #999999;
    margin-top: 5px;
    width: 100%;
}

table th{
    background-color: #555555;
    color: #ffffff;
}

.th_line_left{
    font-family: Arial Helvetica, sans-serif;
    color: #ffffff;
    border: 1px solid #999999;
    width: 10%;
    text-align: left;
    background-color: #696969;
    padding-left: 0.5%;
}

.th_line{
    font-family: Arial Helvetica, sans-serif;
    color: #ffffff;
    border: 1px solid #999999;
    width: 10%;
    background-color: #696969;
}

.th_line2{
    font-family: Arial Helvetica, sans-serif;
    color: #ffffff;
    border: 1px solid #999999;
    width: 60%;
    background-color: #696969;
}

.td_line{
    font-family: Arial Helvetica, sans-serif;
    color: #404040;
    border: 1px solid #999999;
    width: 10%;
    padding: 0.5% 2% 0.5% 3%;
    text-align: justify;
}

.td_line2{
    font-family: Arial Helvetica, sans-serif;
    color: #404040;
    border: 1px solid #999999;
    height: 30px;
    padding: 0.5% 2% 0.5% 3%;
    text-align: justify;
}

.td_line_full{
    font-family: Arial Helvetica, sans-serif;
    color: #404040;
    border: 1px solid #999999;
    width: 100%;
    height: 30px;
    padding: 0.5% 2% 0.5% 3%;
    text-align: justify;
}

.encabezado {
    color: #404040;
    font-family: Arial Helvetica, sans-serif;
    margin-top: 20px;
    font-weight: bold;
}

.descripcion{
    padding: 0 25px 0 25px;
    color: #404040;
    font-family: Arial Helvetica, sans-serif;
    margin-top: 20px;
    font-style: oblique;
}